/* main side-bar styles */
.sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px; 
	width: 250px;
	height: 100%;
	margin-left: -250px;
	background: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.sidebar-nav {
	position : absolute 
	top: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}
.sidebar-nav li:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}

/* sub menu styles */

.sub-wrapper{
	z-index: 1100;
	position : absolute;
	left: 120px;
	width: 120px;
	background : rgba(52,52,52,1);
	padding-bottom:10px;
	visibility : hidden; /*this is default value */
	border-radius: 3px;
	display:inline;     /*this is inorder to display the submenus adjacent to other parent list element */
}

.sub-nav{
	list-style:none;
	line-height: 40px;
	padding :0px;
}

.sub-nav li {
	color:rgba(200,200,200,1);
}
.sub-nav li a {
	color:rgba(220,220,220,1);;
}

.sub-nav li:hover{
	background:black;
	color:white;
}
.sub-nav li a:hover{
	background:black;
	color:white;
}

.sub-nav li a:active,
.sub-nav li a:focus {
text-decoration: none;
}
